body{
    background-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    top:;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}
